In [3]:
# Import Libraries and Dependencies
import pandas as pd

### 1. Combine and Clean the Data
#### Import CSVs

In [5]:
# Read the CSV files into DataFrames.
import pandas as pd
#from pathlib import Path
from pathlib import Path
#athletic_sales_2020_path = Path('Resources/athletic_sales_2020.csv')
athletic_sales_2020_path = Path('Resources/athletic_sales_2020.csv')
#athletic_sales_2021_path = Path('Resources/athletic_sales_2021.csv')
athletic_sales_2021_path = Path('Resources/athletic_sales_2021.csv')
athletic_sales_2020_df = pd.read_csv(athletic_sales_2020_path)
athletic_sales_2021_df = pd.read_csv(athletic_sales_2021_path)

In [6]:
# Display the 2020 sales DataFrame
athletic_sales_2020_df.head()

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000.00,In-store
1,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,68,83,5644,2426.92,Online
2,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,75,275,206250,61875.00,Outlet
3,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,34,384,13056,6789.12,Outlet
4,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,53,83,4399,1407.68,Outlet

In [7]:
# Display the 2021 sales DataFrame
athletic_sales_2021_df.head()

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,65,750,487500,121875.00,Outlet
1,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,51,233,11883,3208.41,Outlet
2,Kohl's,1189833,1/1/21,Midwest,Montana,Billings,Men's Apparel,50,275,137500,82500.00,Outlet
3,Kohl's,1189833,1/1/21,Midwest,Montana,Billings,Men's Apparel,47,77,3619,2714.25,Online
4,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,64,225,14400,5184.00,Online

#### Check the data types of each DataFrame

In [8]:
# Check the 2020 sales data types.
athletic_sales_2020_df.dtypes

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [9]:
# Check the 2021 sales data types.
athletic_sales_2021_df.dtypes

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

#### Combine the sales data by rows.

In [10]:
# Combine the 2020 and 2021 sales DataFrames on the rows and reset the index.
combined_athletic_sales_2020_2021_df = pd.concat([athletic_sales_2020_df, athletic_sales_2021_df], axis="rows").reset_index()
combined_athletic_sales_2020_2021_df.head()

,index,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,0,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000.00,In-store
1,1,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,68,83,5644,2426.92,Online
2,2,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,75,275,206250,61875.00,Outlet
3,3,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,34,384,13056,6789.12,Outlet
4,4,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,53,83,4399,1407.68,Outlet

In [41]:
combined_athletic_sales_2020_2021_df.tail()

,index,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
9638,8341,Foot Locker,1185732,12/31/21,Northeast,Pennsylvania,Philadelphia,Men's Apparel,63,47,2961,1362.06,Online
9639,8342,Foot Locker,1185732,12/31/21,Northeast,Pennsylvania,Philadelphia,Men's Apparel,46,56,2576,1004.64,Outlet
9640,8343,Amazon,1185732,12/31/21,Northeast,Maine,Portland,Men's Apparel,52,36,1872,692.64,Online
9641,8344,Amazon,1185732,12/31/21,Northeast,Maine,Portland,Men's Apparel,55,125,68750,17187.50,Outlet
9642,8345,Foot Locker,1185732,12/31/21,Northeast,Pennsylvania,Philadelphia,Men's Apparel,70,175,122500,42875.00,Outlet

In [11]:
# Check if any values are null.
combined_athletic_sales_2020_2021_df.isnull()

,index,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9638,False,False,False,False,False,False,False,False,False,False,False,False,False
9639,False,False,False,False,False,False,False,False,False,False,False,False,False
9640,False,False,False,False,False,False,False,False,False,False,False,False,False
9641,False,False,False,False,False,False,False,False,False,False,False,False,False
9642,False,False,False,False,False,False,False,False,False,False,False,False,False

In [85]:
###combined_athletic_sales_2020_2021_df.dropna()

In [12]:
# Check the data type of each column
combined_athletic_sales_2020_2021_df.columns

Index(['index', 'retailer', 'retailer_id', 'invoice_date', 'region', 'state',
       'city', 'product', 'price_per_unit', 'units_sold', 'total_sales',
       'operating_profit', 'sales_method'],
      dtype='object')

In [21]:
# Convert the "invoice_date" to a datetime datatype
###converted_combined_athletic_sales_2020_2021_df.["invoice_date"] = combined_athletic_sales_2020_2021_df.loc[:,"invoice_date"].astype(datetime)
converted_combined_athletic_sales_2020_2021_df = pd.to_datetime(combined_athletic_sales_2020_2021_df['invoice_date'])
###pd.to_datetime(df['date'])

C:\Users\des9231\AppData\Local\Temp\ipykernel_19836\2800045801.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  converted_combined_athletic_sales_2020_2021_df = pd.to_datetime(combined_athletic_sales_2020_2021_df['invoice_date'])

In [14]:
# Confirm that the "invoice_date" data type has been changed.
print(converted_combined_athletic_sales_2020_2021_df.dtypes)
###print(df.dtypes)

datetime64[ns]

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [20]:
# Show the number products sold for region, state, and city.
# Rename the sum to "Total_Products_Sold". ### check the dataset, sum is actually "units_sold"
grouped_sales_df = converted_combined_athletic_sales_2020_2021_df.groupby('region')
grouped_sales_df.head(20)
grouped_sales_df.rename['units_sold':'Total_Products_Sold']
# Show the top 5 results.
grouped_sales_df.sort['Total_Products_Sold', ascending=False].head()

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (992652520.py, line 7)

#### Using `pivot_table`

In [22]:
# Show the number products sold for region, state, and city.
# Rename the "units_sold" column to "Total_Products_Sold"   ### did above
# Show the top 5 results.
grouped_sales_df = grouped_sales_df.pivot_table(index='index', columns=['region', 'state', 'city', 'retailer', 'retailer_id', 'product','invoice_date', 
                                            'price_per_unit', 'total_sales', 'operating_profit', 'sales_method'], values='Total_Product_Sold')
grouped_sales_df.head()

NameError: name 'grouped_sales_df' is not defined

### 3. Determine which Region had the Most Sales

#### Using `groupby`

In [23]:
# Show the total sales for the products sold for each region, state, and city.
# Rename the "total_sales" column to "Total Sales"
grouped_sales_df = grouped_sales_df.groupby('region')
###grouped_sales_df.head()
grouped_sales_df['total_sales'].sum()
# Show the top 5 results.
grouped_sales_df.sort['Total_Product_Sold', ascending=False].head()

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (104303596.py, line 7)

#### Using `pivot_table`

In [25]:
# Show the total sales for the products sold for each region, state, and city.
# Optional: Rename the "total_sales" column to "Total Sales"
grouped_sales_df.rename['total_sales':'Total Sales']
grouped_sales_df = pd.pivot_table(grouped_sales_df, index='region', values = "Total Sales", aggfunc=('sum'))
# Show the top 5 results.
grouped_sales_df.sort["Total Sales", ascending=False].head()

###grouped_sales_df = grouped_sales_df.pivot_table(index='index', columns=['region', 'state', 'city', 'retailer', 'retailer_id', 'product','invoice_date', 
###                                            'price_per_unit', 'total_sales', 'operating_profit', 'sales_method'], values="Total Sales")

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1709193393.py, line 6)

In [ ]:
# Show the total sales for the products sold for each region, state, and city.
###grouped_sales_df['Total_Product_Sold'].sum()
# Rename the "total_sales" column to "Total Sales"
#converted_combined_athletic_sales_2020_2021_df.columns('total_sales').sum
#converted_combined_athletic_sales_2020_2021_df.rename(column="total_sales":"Total Sales")

# Show the top 5 results.
###total_sales.sort['Total_Sales', ascending=False].head()

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [29]:
# Show the total sales for the products sold for each retailer, region, state, and city.
total_sales = grouped_sales_df['retailer', 'region', 'state', 'city','Total Sales']
total_sales = total_sales.groupby('retailer')
total_sales = total_sales['Total Sales'].sum()
### done previously. Rename the "total_sales" column to "Total Sales"
### done previously. athletic_sales.rename(column="total_sales":"Total Sales").columes['retailer','region', 'state', 'city'].sum()
# Show the top 5 results.
total_sales.sort['retailer', 'Total Sales', ascending=False].head()

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2109163475.py, line 8)

#### Using `pivot_table`

In [ ]:
# Show the total sales for the products sold for each retailer, region, state, and city.
# Optional: Rename the "total_sales" column to "Total Sales"
# Show the top 5 results.
###grouped_total_sales.sort['retailer', 'Total Sales', ascending=False].head()
total_sales = pd.pivot_table(grouped_sales_df, index='region', values = "Total Sales", aggfunc=('sum'))
total_sales.head()

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [ ]:
# Filter the sales data to get the women's athletic footwear sales data.
women_athletic_footwear = grouped_sales.loc['product']=='women's athletic footwear'
# match name="women's athletic footwear"

#### Using `groupby`

In [30]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
womens_footwear_units_sold = combined_athletic_sales_2020_2021_df.rename['units_sold':'Womens_Footwear_Units_Sold']
womens_footwear_units_sold = womens_footwear_units_sold['Womens_Footwear_Units_Sold','retailer', 'region', 'state', 'city']
###renamed_women_athletic_footwear = women_athletic_footwear.rename(column="units_sold":"Womens_Footwear_Units_Sold")
# Show the top 5 results.
womens_footwear_units_sold = womens_footwear_units_sold.groupby('retailer')
womens_footwear_units_sold = womens_footwear_units_sold.sort['Womens_Footwear_Units_Sold', ascending=False].head()

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1199351618.py, line 8)

#### Using `pivot_table`

In [ ]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
# did. Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
# Show the top 5 results.
womens_footwear_units_sold = pd.pivot_table(womens_footwear_units_sold, index = 'retailer', values = 'Womens_Footwear_Units_Sold', aggfunc = ('sum'))
womens_footwear_units_sold.head(1)

### 5. Determine the Day with the Most Women's Athletic Footwear Sales

In [34]:
# Create a pivot table with the 'invoice_date' column is the index, and the "total_sales" as the values.
# Optional: Rename the "total_sales" column to "Total Sales"
###combined_athletic_sales_2020_2021_df.rename(column="total_sales":"Total Sales")
womens_footwear_units_sold = combined_athletic_sales_2020_2021_df.rename['total_sales':'Total Sales']
invoice_date = womens_footwear_units_sold.pivot_table(index = 'invoice_date', values = "Total_Sales", aggfunc = ('sum'))
# Show the table.
invoice_date

TypeError: 'method' object is not subscriptable

In [35]:
# Resample the pivot table into daily bins, and get the total sales for each day. 
resampled_invoice_date = invoice_date.resample('D').sum()
# Sort the resampled pivot table in ascending order on "Total Sales".
resampled_invoice_date.sort('Total Sales')

NameError: name 'invoice_date' is not defined

### 6.  Determine the Week with the Most Women's Athletic Footwear Sales

In [ ]:
# Resample the pivot table into weekly bins, and get the total sales for each week.
###W_resampled_2nd_renamed_women_athletic_footwear = 2nd_renamed_women_athletic_footwear.resample('W').sum()
resampled_invoice_date = invoice_date.resample('W').sum()
# Sort the resampled pivot table in ascending order on "Total Sales".
###W_resampled_2nd_renamed_women_athletic_footwear.sort('Total Sales', ascending=True].sum()
resampled_invoice_date.sort('Total Sales')